{% extends "basic.html" %}

{% block content %}

<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading"><font color="#ff751a">LEAGUES!</font></h1>
      <br><br><br>
    </div>
    <a href="#myLeagues" class="btn btn-primary btn-xl page-scroll">My Leagues</a>
    <a href="#makeLeague" class="btn btn-primary btn-xl page-scroll">Make Your Own League</a>
    <a href="#joinLeague" class="btn btn-primary btn-xl page-scroll">Join a League</a>
  </div>
</header>
<body>

  <div class="container" id="AvailableLeagues" style="background-color:#F05F40;width:100%">

    <center><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapse2">My Leagues</button>
            </h4>
          <div id="collapse2" class="panel-collapse collapse">
            <ul class="list-group">
                  <li class="list-group-item">
              {% if leagues.items()[0] %}
              {% for key, value in leagues.items() %}
              <h2> League {{key}} </h2>
              Members: {% for x in value %} {{x}} {% endfor %}

              <a href="/join/{{key}}" class="btn btn-info" role="button">Join</a>
              {% endfor %}
              {% else %}
              <center> No leagues to show. Create or join a league below! </center>
              {% endif %}
              <br>
              <br>
          </li>

            </ul>
          </div>
        </div>
      </div>



  <div class="container" id="makeLeague">
    <center> <h1> Make A League! </h1> </center>
    <form class="form-inline" action="/authleague" method="POST">
      <center>
	<br>
	<div class="form-group">
	  <label for="name">League Name:</label>
	  <input class="form-control" id="name" placeholder="League Name" name="name">
	</div>
	<br><br>

	Point value for each player point:
	<label class="radio-inline">
	  <input type="radio" name="points" value="1" checked> +1 Point
	</label>
	<label class="radio-inline">
	  <input type="radio" name="points" value="2"> +2 Points
	</label>
	<br><br>

	Point value for each player assist:
	<label class="radio-inline">
	  <input type="radio" name="assists" value="1" checked> +1 Point
	</label>
	<label class="radio-inline">
	  <input type="radio" name="assists" value="2"> +2 Points
	</label>
	<br><br>

	Point value for each player block:
	<label class="radio-inline">
	  <input type="radio" name="blocks" value="1" checked> +1 Point
	</label>
	<label class="radio-inline">
	  <input type="radio" name="blocks" value="2"> +2 Points
	</label>
	<br><br>

	Point value for each player steal:
	<label class="radio-inline">
	  <input type="radio" name="steals" value="1" checked> +1 Point
	</label>
	<label class="radio-inline">
	  <input type="radio" name="steals" value="2"> +2 Points
	</label>
	<br><br>


	<input type="hidden" class="form-control" name="user" value="{{ session['user'] }}">
	<button style="background-color:#F05F40;color:#FFFFFF" class="btn btn-primary btn-xl page-scroll" name="submit" value="submit" type="submit">Make League</button>
	<br>
	<br>
	{% if lerror %}
	<div class="alert alert-danger">
	  <center><strong>{{ lerror }}</strong></center>
	</div>
	{% endif %}
      </center>
  </form>

  </div>

    <div class="container" id="AvailableLeagues" style="background-color:#F05F40;width:100%">

      <center><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapse1">See all</button>
              </h4>
            <div id="collapse1" class="panel-collapse collapse">
              <ul class="list-group">
                    <li class="list-group-item">
                {% if allLeagues.items()[0] %}
                {% for key, value in allLeagues.items() %}
                <h2> League {{key}} </h2>
                Members: {% for x in value %} {{x}} {% endfor %}

                <a href="/join/{{key}}" class="btn btn-info" role="button">Join</a>
                {% endfor %}
                {% else %}
                <center> No leagues to show. Create or join a league below! </center>
                {% endif %}
                <br>
                <br>
            </li>

              </ul>
            </div>
          </div>
        </div>
      </div>





    <center> <h1> Join a League! </h1> </center>
    <form class="form-inline" action="/authjoin" method="POST">
      <center>
	<br>
	{% if jerror %}
	<div class="alert alert-danger">
	  <center><strong>{{ jerror }}</strong></center>
	</div>
	<br>
	{% endif %}


	<div class="form-group">
	  <label for="name">League Name:</label>
	  <input class="form-control" id="name" placeholder="League Name" name="name">
	</div
<br>
     	  <input type="hidden" class="form-control" name="user" value="{{ session['user'] }}">
	  <br><br>
	<button style="background-color:#FFFFFF;color:#F05F40" class="btn btn-primary btn-xl page-scroll" name="submit" value="submit" type="submit">Join League</button>
	<br>
	<br>

      </center>
  </form>

  </div>


</body>

{% endblock %}
