<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="../static/div.css">
    <title>
      Stats
    </title>
  </head>
  <body>

    <div id="info" class="left">
      <form class="form-inline" action="/add/{{LID}}" method="POST">

      <table border="1" id="statsTable">
	<tr>
	  <th>Player</th>
	  <th>Points</th>
	  <th>Rebounds</th>
	  <th>Assists</th>
	  <th>Steals</th>
	  <th>Fouls</th>
	  <th>Win-Loss</th>
	  <th>Draft</th>
	</tr>
	{% for i in list %}

	<tr>
	  <td class="name">{{i['name']}}</td>
	  <td class="pts">{{i['stats']['PTS']}}</td>
	  <td class="reb">{{i['stats']['REB']}}</td>
	  <td class="ast">{{i['stats']['AST']}}</td>
	  <td class="stl">{{i['stats']['STL']}}</td>
	  <td class="pf">{{i['stats']['PF']}}</td>
	  <td class="wl">{{i['stats']['W']}}-{{i['stats']['L']}}</td>


	  <td class="Draft"><input type="checkbox" name="PID" value='{{i['pid']}}'>Draft</input></td>
	</tr>
	{% endfor %}
      </table>

    </div>



  <input class="work" type="submit" value="Draft">
</form>
      <br><br>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
