<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="../static/div.css">
    <title>
      Temp Stats
    </title>
  </head>
  <body>
    <div id="info" class="left">
      <table border="1" id="statsTable">
	<tr>
	  <th>Name</th>
	  <th>PNT</th>
	 
	</tr>
	{% for i in list %}
	<tr>
	  <td class="name">{{i['name']}}</td>
	  <td class="image"><img src={{i['image']}}></td>
	  
	</tr>
	
	{% endfor %}
      </table>
    </div>
    <h3>Players</h3>
    <p id="team"></p>
    <script src="../static/playerInfo.js"></script>
  </body>
</html>
