<!DOCTYPE html>
<html>
  <title>
    Temp Stats
  </title>
  <body>
    <div id="info">
    <table border="1" id="statsTable">
      

      <tr>
	<td>Name</td>
	<td>PNT</td>
	<td>REB</td>
	<td>AST</td>
	<td>button</td>
      </tr>
      <tr>
	<td class="name">Lebron</td>
	<td class="pnt">26.4</td>
	<td class="reb">8.6</td>
	<td class="ast">8.7</td>
	<td><button class="compare">check</button></td>
      </tr>
      <tr>
	<td class="name">Kyrie</td>
	<td class="pnt">25.2</td>
	<td class="reb">3.2</td>
	<td class="ast">5.8</td>
	<td><button class="compare">check</button></td>
      </tr>
      
     
    </table>
    </div>
    <div id="extraStats">
      <p id="name"></p>
      <p id="pnt"></p>
      <p id="reb"></p>
      <p id="ast"></p>
      <p id="avg"></p>
    </div>
    <h3>Players</h3>
    <p id="team"></p>
    <script src="../static/playerInfo.js"></script>
  </body>
</html>
